body {
  font-family: 'Latin-Modern-Roman';
}

.case {
  padding-left: 40px;
}

.case-header {
  font-weight: bold;
}

.comment .node-content {
  font-style: italic;
}

.decl-header {
  cursor              : pointer;
  font-weight         : bold;
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
}

.decl-header h2 {
  display: inline-block;
}

.decl-header .name {
  display: inline-block;
}

.proof .node-content {
  padding-left:40px;
}

.proof .node-header {
  font-family: 'Latin-Modern-Roman-Caps';
}

.take {
  background-color: #e8dcc5;
  padding: 10px;
  margin: 10px;

  border-radius: 23px 23px 23px 23px;
  -moz-border-radius: 23px 23px 23px 23px;
  -webkit-border-radius: 23px 23px 23px 23px;
  border: 2px solid #000000;
}

.take .list-header {
  font-family: 'Latin-Modern-Roman-Caps';
}

.suchthat .list-header {
  font-family: 'Latin-Modern-Roman-Caps';
}

.node-header {
  background-color: rgb(218, 217, 217);
  cursor: pointer;
}

.closed {
  display: none;
}

/*
.toggle {
  width: 50px;
  height:100%;
  display:inline-block;
}

.toggle-closed {
  background-color: black;
}

.toggle-open {
  background-color: red;
}

.section-header {
  height: 50px;
  background-color: gray;
}

.step-header {
  height: 50px;
}

.step-header > .statement {
  display: inline-block;
}

.section-title {
  font-size: 18pt;
}

.name {
  display: inline-block;
  margin-left: 10px;
}

.node-content {
  padding-left: 50px;
}
*/
